<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <button style="background:black; color: white; width: 15%; height: 100%;">Follow us</button>
        </div>
    </div>
</div>

<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="row row-cols-3" style="background: black; color:white ;">
            <div class="col-6 ">
                <!-- <img src="C:\Users\bchan\Downloads\icon.png" height="36" ; alt=""> -->


            </div>
            <div class="col-6  ">
                Subscribe for exclusive updates!
            </div>

        </div>
        <br>
        <br>
        <div class="row" style="background: black; color:white ;">
            <div class="col-1 col-md-4">
                Email: orders@theflexnest.com
            </div>
            <div>
                Phone: +91 9818901692 /+91 9289529882 /+91 9667991519 (Monday-Saturday 10am-6pm)
            </div>
            <div>Address: B9 Infocity, Sector 34, Gurugram, HR, India 122001</div>

            <div class=".col-md-6">
                <div class=" text-center">
                    Home
                </div>
                <div class=" text-center">
                    Products
                </div>
                <div class="text-center">
                    Our Story
                </div>
                <div class="text-center">
                    Contact Us
                </div>
                <div class=" text-center">
                    Track your Order
                </div>
                <div class=" text-center">
                    Privacy Policy
                </div>
                <div class=" text-center">
                    Terms & Conditions
                </div>
                <div class=" text-center">
                    Cancellation/Refunds
                </div>
                <br>
                <br>
                <div class="container-fluid">
                    <div class="row row-cols-4" style="color: white;background: black;">
                        <div class="col-md-6 offset-md-4">
                            <i class="bi bi-facebook" style="font-size: 2rem;"></i>
                            <i class="bi bi-twitter" style="font-size: 2rem;"></i>
                            <i class="bi bi-youtube" style="font-size: 2rem;"></i>
                            <i class="bi bi-instagram" style="font-size: 2rem;"></i>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-8 offset-md-4">secure checkout with</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>